#calc-container
{
  display: grid;
  grid-template-rows: repeat(4, auto);
  grid-template-columns: repeat(4, auto);
  grid-gap: 5px;
  width: 250px;
  height: 250px;
  margin: auto;
  margin-top: 20px;
}

#calc-display
{
  width: 250px;
  height: 75px;
  margin: auto;
  border: 1px solid black;
  padding-right: 5px;
}

#display-bottom
{
  font-size: 30px;
}

.calc-button
{
  font-size: 20px;
}

.display-segment
{
  width: inherit;
  height: 37.5px;
  text-align: right;
}
